@jsluna:registry=https://nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/
//nexus.public.prd.golf-prod.js-devops.co.uk/repository/luna/:_authToken=NpmToken.b9588309-4aa2-361e-8a0f-29a649ebee09
